/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 2, 2022, 10:18:41 PM
    Author     : serog
*/

.titulo{
    position:fixed;
    background-color: orange;
    width: 200px;
    height: 200px;
    padding: 20px;
}

.ArticulosRopa{
     width: 200px;
    height: 200px;
    padding: 20px;
    left: 100px;
}