/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1 oct. 2022, 20:27:38
    Author     : andre
*/

:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    display: grid;
    height: 150vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.15fr 0.1fr 1fr 1fr 1fr;
    grid-template-areas:
        "nav nav nav nav"
        "subtitle subtitle subtitle subtitle"
        "sidebar content1 content2  content3"
        "sidebar content4 content5  content6"
        "sidebar content7 content8  content9";
    grid-gap: 0.5rem;
    font-weight: 800;
    font-size: 12px;
    color: #004d40;
    text-align: center;
}

nav {
    background: #1de9b6;
    grid-area: nav;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#subtitle {
    background: #1de9b6;
    grid-area: subtitle;
    font-size: 8px;
    text-transform: uppercase;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#sidebar {
    background: #18ffff;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.button_sidebar {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color:  #004d40;
    background: none;
    text-align: center;
    cursor: pointer;
    width: 90%;
    font-family: "Poppins", sans-serif;
}

#content1 {
    background: #ffffff;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content2 {
    background: #ffffff;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content3 {
    background: #ffffff;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content4 {
    background: #ffffff;
    grid-area: content4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content5 {
    background: #ffffff;
    grid-area: content5;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content6 {
    background: #ffffff;
    grid-area: content6;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content7 {
    background: #ffffff;
    grid-area: content7;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content8 {
    background: #ffffff;
    grid-area: content8;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content9 {
    background: #ffffff;
    grid-area: content9;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #64ffda;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 95%;
    font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 2fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
        grid-template-areas:
            "nav"
            "subtitle"
            "sidebar"
            "content1"
            "content2"
            "content3"
            "content4"
            "content5"
            "content6"
            "content7"
            "content8"
            "content9";
    }
}